doctype html
html
  include ./includes/head.pug
  body
    header
      include ./includes/carousel.pug
    
    .container
      .my-2
        a(href="/") Back
      
      // Small search bar
      include ./includes/searchbar-small.pug

      // Show query results
      - if (!query || results.length == 0)
        h2.text-center.my-3 No search results. Please enter another search term.
      - else
        each item in results
          .card.bg-light.my-2
            .card-body
              h5.card-title
                = item.title
                span.small.text-muted=" #" + item.id
              h6.card-subtitle.mb-2.text-muted
                = item.host
              ul
                each ingredient in item.ingredients
                  li= ingredient
              ol
                each instruction in item.instructions.split('\n')
                  - if (instruction)
                    li= instruction
              //- p.card-text
              //-   pre= JSON.stringify(item, null, '  ')
              - if (item.total_time <= 0 || item.total_time >= 10000)
                h5.my-3 Total Time: Try it Yourself!
              - else
                h5.my-3 Total Time: #{item.total_time} minutes
              a.btn.btn-info(href=item.url target="_blank" role="button")
                | View Recipe
      
            
